.tab_btn_img {
    height: 100px;
}
.tabContainer{
   margin-bottom: 25px;
}

button{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgb(255, 247, 247);
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.19);
}

.btn-deco-1:hover {
    background-color: #f7f064;
}
.btn-deco-2:hover {
    background-color: #73c9f3;
}
.btn-deco-3:hover {
    background-color: #9aa3aa;
}
.btn-deco-4:hover {
    background-color: #1AB486;
}
.btn-deco-5:hover {
    background-color: #f0939e;
}
.btn-deco-6:hover {
    background-color: gray;
}
.btn-deco-7:hover {
    background-color: #e94c53;
}
.btn-deco-8:hover {
    background-color: #f18f3d;
}
.btn-deco-9:hover {
    background-color: #b44e8f;
}
.btn-deco-10:hover {
    background-color: #6cbd61;
}
.btn-deco-11:hover {
    background-color: #565ea9;
}