.footerWrap {
    background-color: rgb(255, 159, 204);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.19);
}

.footer_logo {
    margin-top: 3px;
    height: 10vh;
}