@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
    background: #fff; /* fallback for old browsers */
}
* {
  margin: 0;
  padding: 0;
}